:root {
    --accent-primary: rgb(95, 86, 197);
    --accent-secondary: rgb(39, 184, 141);
    --page-background: rgb(252, 251, 244);
    
    --accent-primary-dark: rgb(136, 128, 221);
    --accent-secondary-dark: rgb(65, 194, 155);
    --page-background-dark: rgb(47, 46, 44);
}
