div.code-toolbar {
	position: relative;
}

div.code-toolbar>.toolbar {
	position: absolute;
	z-index: 10;
	top: .3em;
	right: .5em;
	transition: opacity 0.2s ease-in-out;
	opacity: 0;
}

div.code-toolbar:hover>.toolbar {
	opacity: 1;
}

/* Separate line b/c rules are thrown out if selector is invalid.
   IE11 and old Edge versions don't support :focus-within. */
div.code-toolbar:focus-within>.toolbar {
	opacity: 1;
}

div.code-toolbar>.toolbar>.toolbar-item {
	display: inline-block;
	margin-right: 0.5rem;
}

div.code-toolbar>.toolbar>.toolbar-item>a {
	cursor: pointer;
}

div.code-toolbar>.toolbar>.toolbar-item>button {
	background: none;
	border: 0;
	color: inherit;
	font: inherit;
	line-height: normal;
	overflow: visible;
	padding: 0;
	-webkit-user-select: none;
	/* for button */
	-moz-user-select: none;
	-ms-user-select: none;
}

div.code-toolbar>.toolbar>.toolbar-item>a,
div.code-toolbar>.toolbar>.toolbar-item>button,
div.code-toolbar>.toolbar>.toolbar-item>span {
	font-size: .8em;
	padding: 0.3rem .5em;
	border: 0.1rem solid var(--accent-primary);
	box-shadow: 0.1rem 0.2rem var(--accent-primary);
	border-radius: .2em;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	opacity: 0.7;
}

div.code-toolbar>.toolbar>.toolbar-item>a:hover,
div.code-toolbar>.toolbar>.toolbar-item>a:focus,
div.code-toolbar>.toolbar>.toolbar-item>button:hover,
div.code-toolbar>.toolbar>.toolbar-item>button:focus,
div.code-toolbar>.toolbar>.toolbar-item>span:hover,
div.code-toolbar>.toolbar>.toolbar-item>span:focus {
	color: inherit;
	opacity: inherit;
	text-decoration: none;
}
